@import './variable.styl'
body, html 
  font-family: "PingFang SC","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select: none
  background-color: $color-background 
  height: 100%

::-webkit-scrollbar
  width 0px

  