$color-background = #F3F7FD // 页面背景色
$color-border = #EEEFF0 // 边框颜色
$color-nav-text = #575757 // 导航栏文字颜色 default
$color-nav-active = #4C84FF // 选中文字颜色 active
$color-news-title = #1A1A1A //新闻标题
$color-news-key = #97979E // 新闻内容 key
$color-news-value = #2F2F33 // 新闻内容 value
$color-normal = #ffffff // 常用背景
$color-list-border = #F1F5F8 // 列表边框
$color-captcha = #6087FF // 获取验证码
$color-error = #FF475D //密码错误
$color-error-pass = #FF4949 // 登录账号或密码错误
$color-clause = #607D9C // 条款
$color-error-bg = #FFEAEB // 错误提示背景色
$color-exam-note = #4264FB // 考试须知
$color-td-name = #F6F8FA // 表格 name
$color-td-name-text = #B0B7C7 // 表格 name 字体
$color-td-value-text = #4B6796 // 表格 value 字体
$color-upload-border = #C6D2E0 // 上传边框颜色
$color-upload-bg = #F3F8FD // 上传边框背景色
$color-sub-title = #8A9DBF // 课程列表
$color-tab-header-bg = #E9F0FB // 个人中心 tab header
$color-table-bg = #F9FBFE // 表格隔行背景
$color-note-bg = #F6F9FD // 考试须知背景

$size-amount = 32px // 金额
$size-list-title = 30px // 列表 title
$size-title = 26px // 标题字体
$size-reg = 24px // 立即注册
$size-news-title = 20px // 新闻标题
$size-nav-text = 18px // 导航栏字体大小
$size-news-btn = 16px // 新闻报名btn
$size-news-content = 15px // 新闻内容
$size-sub-title = 14px // 副标题
$size-clause = 13px // 条款
$size-news-date = 12px // 新闻日期